In [3]:
#  Imports

import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv(os.path.join('..', 'Resources', 'Created_Files', 'Resampled_df.csv'))
df

,Gender,Age,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,26,28.0,1,1,0,125876.0,152.0,37,0
1,1,37,46.0,0,0,1,33097.0,26.0,38,1
2,1,25,29.0,1,1,0,32113.0,152.0,293,0
3,0,25,35.0,1,1,0,26299.0,152.0,30,0
4,1,31,3.0,0,1,1,22523.0,163.0,71,1
...,...,...,...,...,...,...,...,...,...,...
500435,1,38,15.0,0,0,1,38086.0,124.0,134,1
500436,1,49,28.0,0,0,1,28099.0,124.0,85,1
500437,1,66,50.0,0,2,1,46261.0,8.0,298,1
500438,1,45,28.0,0,0,1,38876.0,124.0,208,1
500439,0,47,28.0,0,0,1,30564.0,26.0,114,1